/*@font-face {
    font-family: "Palanquin";
    src: url(/resources/fonts/Palanquin-Regular.ttf) format('truetype'), url(/resources/fonts/Palanquin-Medium.ttf) format('truetype'), url(/resources/fonts/Palanquin-SemiBold.ttf) format('truetype'), url(/resources/fonts/Palanquin-Light.ttf) format('truetype'), url(/resources/fonts/Palanquin-Bold.ttf) format('truetype');
}*/

html {
    /*font-size: 16px;*/
}

body {
    font-family: Arial, sans-serif;
    background-color: #F8F8FF;
    color: #424949;
}

a {
    text-decoration: none;
    color: #696969;
}

a:hover {
    color: #ffffff;
    background-color: #008080;
    transition: color 500ms, background-color 500ms;
}

h1 {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Palanquin', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    /*margin: 2rem 0;*/
}

p {
    font-family: 'Palanquin';
    font-weight: 300;
}


/*Header section*/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8FF;
    height: 4rem;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 100;
    border: 1px solid gray;
}

.logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.25rem;
}

.logo img {
    margin-left: 1.5rem;
    height: 3rem;
    width: auto;
}


/*  NEED FONT FOR LOGO  */

.logo span strong {
    font-weight: bold;
}

nav {
    margin: 0 24px;
}

nav span {
    margin-left: 1rem;
}

nav a {
    text-decoration: none;
    padding: 4px;
    border-radius: 2px;
}


/* Intro section */

.intro {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-height: auto;
    background-color: #d3d3d3;
    top: 64px;
}

.intro-img {
    display: block;
    position: relative;
    max-width: 55%;
    overflow: hidden;
    padding: 2rem 2.5rem 2rem 1.5rem;
}

.intro img {
    width: 100%;
    height: auto;
}

.intro-content {
    width: 30%;
    height: auto;
    margin: auto 0;
    line-height: 1.1;
}

.intro-content .button {
    positon: relative;
    display: block;
    background-color: #424949;
    color: #F8F8FF;
    max-width: 300px;
    font-size: 1.6rem;
    font-family: 'Palanquin';
    font-weight: 300;
    padding: 0.5rem;
    margin: 2.5rem 0;
    /*vertical-align: middle;*/
    text-align: center;
}


/* Info section */

.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-height: auto;
    margin-top: 67px;
}

.info-main {
    display: block;
    position: relative;
    min-width: 55%;
    overflow: hidden;
    padding: 2rem 1.5rem 0 1.5rem;
    border-right: 1px solid lightgray;
}

.info img {
    width: 100%;
    height: auto;
}

.info-main span {
    display: block;
    position: relative;
    padding-top: 2rem;
    margin: 0 auto;
    padding-top: 1.5rem;
    line-height: 1.5;
}

#attrib {
    font-weight: 400;
}

.info-cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    min-width: 423px;
    height: 100%;
}

.info-cards img {
    display: inline-block;
    width: 35%;
    height: auto;
    margin: 1rem;
    float: left;
}

.info-cards p {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.info-cards .text {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 100%;
    line-height: 1.5;
}

.info-cards .text a {
    position: relative;
    display: inline-block;
    color: #6495ED;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
}

.orientation, .campus, .lecture {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.lecture {
  background-color: #d3d3d3;
}

/* Curriculum */

.curriculum {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #d3d3d3;
}

.curr-title {
    display: block;
    position: relative;
    width: 100%;
    margin: auto 0;
    text-align: center;
    padding: 2rem 0 1rem 0;
}

.curr-cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    /*border: 1px solid blue;*/
    width: 100%;
    height: auto;
}

.course {
  display: inline-block;
  width: 25%;
  height: auto;
  overflow: hidden;
  margin: 1rem;
  background-color: #F8F8FF;
}

.course img {
    width: 100%;
    height: auto;
    display: block;
    /*margin-bottom: 1rem;*/
}

.course-text {
  display: inline-block;
  min-height: 150px;
  margin: 1rem 0 1.5rem 1.5rem;
}

.course-text h3 {
  margin: 1rem 0;
}

.course-text h5 {
  margin: 0.5rem 0;
}

.course-text p {
  line-height: 1.25;
}
/* Exhibit */


/* Footer */
