html {
    /*font-size: 16px;*/
}

body {
    font-family: Arial, sans-serif;
    background-color: #F8F8FF;
    color: #424949;
}

a {
    text-decoration: none;
    color: #696969;
}

a:hover {
    color: #1E36FF;
    transition: color 200ms;
}

h1 {
    font-family: 'Palanquin Dark', sans-serif;
    font-size: 2.5rem;
    font-weight: 500;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Palanquin', sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

p {
    font-family: 'Palanquin';
    font-weight: 300;
}


/*Header section*/
.header-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F8F8FF;
    height: 4rem;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 100;
    border: 1px solid gray;
}

/* .header-mobile only displays for media rule max-width 480px */
.header-mobile {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #F8F8FF;
  height: 4rem;
  width: 100%;
  top: 0;
  position: fixed;
  z-index: 100;
  border: 1px solid gray;
}

.header-mobile .mobile {
  display: none;
  width: 25%;
  text-align: center;
}

.header-mobile .mobile img {
  padding: 5px;
}

.logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: "Sarala";
    font-size: 1.35rem;
    letter-spacing: 2px;
}

#colmar {
  font-weight: 700;
}

#academy {
  color: #747474;
}

.logo img {
    margin-left: 1.5rem;
    height: 3rem;
    width: auto;
}

nav {
    margin: 0 24px;
}

nav span {
    margin-left: 1rem;
}

nav .mobile {
  display: none;
}

nav a {
    text-decoration: none;
    padding: 4px;
    border-radius: 2px;
}

@media only screen and (max-width: 480px){
  .header-mobile {
      display: flex;
  }

  #colmar {
    display: none;
  }

  #academy {
    display: none;
  }

  .header-mobile .mobile {
    display: block;
  }

  .header-mobile .mobile img:hover {
    background-color: #B9B9B9;
    border-radius: 5px;
    transition: background-color 250ms ease;
  }
}


/* Intro section */
.intro {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-height: auto;
    background-color: #d3d3d3;
    top: 64px;
}

.intro-img {
    display: block;
    position: relative;
    max-width: 55%;
    overflow: hidden;
    padding: 2rem 2.5rem 2rem 1.5rem;
}

.intro img {
    width: 100%;
    height: auto;
}

.intro-content {
    width: 30%;
    height: auto;
    margin: auto 0;
    line-height: 1.1;
}

.intro-content .button {
    positon: relative;
    display: block;
    background-color: #424949;
    color: #F8F8FF;
    max-width: 300px;
    font-size: 1.6rem;
    font-family: 'Palanquin';
    font-weight: 300;
    padding: 0.75rem;
    margin: 2.5rem 0;
    text-align: center;
    border-radius: 5px;
}

.intro-content .button:hover {
  background-color: #5A6060;
  color: white;
  letter-spacing: 1px;
  transition: color 100ms ease,
    background-color 100ms linear,
    letter-spacing 100ms linear;
}

@media only screen and (max-width: 480px){

  .intro {
      /*display: block;*/
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      position: relative;
      width: 100%;
      max-height: auto;
      background-color: #d3d3d3;
      top: 64px;
  }

  .intro-img {
      display: block;
      position: relative;
      min-width: 100%;
      height: auto;
      overflow: hidden;
      text-align: center;
      padding: 0;
  }

  .intro img {
      width: 100%;
      height: auto;
  }

  .intro-content {
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    line-height: 1.1;
    padding: 2rem 1rem;
  }

  .intro-content h3 {
    padding: 1rem 1rem 1.5rem 1rem;
    margin: 0 auto;
  }

.intro-content .button {
  margin: 0 auto;
  /*margin: 2.5rem 0;*/
}

}

/* Info section */
.info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    max-height: auto;
    margin-top: 67px;
}

.info-main {
    display: block;
    position: relative;
    min-width: 55%;
    overflow: hidden;
    padding: 2rem 1.5rem 0 1.5rem;
    border-right: 1px solid lightgray;
}

.info-main img {
    width: 100%;
    height: auto;
}

.info-main span {
    display: block;
    position: relative;
    padding-top: 2rem;
    margin: 0 auto;
    padding-top: 1.5rem;
    line-height: 1.5;
}

#attrib {
    font-weight: 400;
}

.info-cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    min-width: 423px;
    height: 100%;
}

.info-cards .desktop {
    display: inline-block;
    width: 35%;
    height: auto;
    margin: 1rem;
    float: left;
}

.info-cards .mobile {
  display: none;
}

.info-cards p {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.info-cards .text {
    position: relative;
    display: inline-block;
    width: 50%;
    height: 100%;
    line-height: 1.5;
}

.info-cards .text a {
    position: relative;
    display: inline-block;
    color: #6495ED;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
}

.orientation, .campus, .lecture {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid lightgray;
}

.orientation:hover, .campus:hover, .lecture:hover{
  background-color: #B9B9B9;
  transition: background-color 250ms ease;
}

@media only screen and (max-width: 480px) {
  .info-cards {
    padding: 1rem 0;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
  }

  .info-cards .text {
      position: relative;
      display: inline-block;
      width: 100%;
      height: auto;
      margin: 2rem;
      line-height: 1.5;
  }

  .info-main, .info-cards .desktop {
      display: none;
    }

    .info-cards .mobile {
        display: block;
        position: relative;
        max-width: 93%;
        height: auto;
        overflow: hidden;
        margin: 0 auto;
    }

    .orientation, .campus, .lecture {
        position: relative;
        display: block;
        overflow: hidden;
        margin: auto 0;
        width: 100%;
        border-bottom: 0px;
    }

}


/* Curriculum */
.curriculum {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    background-color: #d3d3d3;
    padding-bottom: 2rem;
}

.curr-title {
    display: block;
    position: relative;
    width: 100%;
    margin: auto 0;
    text-align: center;
    padding: 2rem 0 1rem 0;
}

.curr-cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
}

.course {
  display: inline-block;
  width: 25%;
  height: auto;
  overflow: hidden;
  margin: 1rem;
  background-color: #F8F8FF;
}

.course:hover {
  background-color: #B9B9B9;
  transition: background-color 250ms ease;
}

.course img {
    width: 100%;
    height: auto;
    display: block;
}

.course-text {
  display: inline-block;
  min-height: 150px;
  margin: 1rem 0 1.5rem 1.5rem;
}

.course-text h3 {
  margin: 1rem 0;
}

.course-text h5 {
  margin: 0.5rem 0;
}

.course-text p {
  line-height: 1.25;
}

@media only screen and (max-width: 480px) {

  .curriculum {
      background-color: #F8F8FF;
      padding-bottom: 2rem;
      border-bottom: 1px solid lightgray;
  }

  .curr-cards {
      flex-direction: column;
  }

  .course img, .course-text h5, .course-text p {
    display: none;
  }

  .course {
    display: block;
    width: 93%;
    height: auto;
    margin: 0.25rem 1rem;
    background-color: #d3d3d3;
  }

  .course-text {
    /*display: inline-block;*/
    min-height: auto;
    /*margin: 1rem 0 1.5rem 1.5rem;*/
  }

}
/* End CURRICULUM section */

/* Thesis */
.thesis {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
  max-height: auto;
  /*padding-bottom: 1rem;*/
  /*margin-top: 67px;*/
}

.thesis-title {
    display: block;
    position: relative;
    width: 100%;
    margin: auto 0;
    text-align: center;
    padding: 2rem 0 2rem 0;
}

.thesis-vid {
  display: block;
  position: relative;
  width: 55%;
  overflow: hidden;
  padding: 0 1rem 1.5rem 1.5rem;
  /*border-right: 1px solid lightgray;*/
}

.thesis-vid span {
  display: block;
  position: relative;
  padding-top: 2rem;
  margin: 0 auto;
  padding-top: 1.5rem;
  line-height: 1.5;
}

.thesis-vid span p {
  margin-top: 1rem;
}

.thesis-cards {
  position: relative;
  width: 40%;
  height: auto;
}

.thesis-feature {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: auto;
}

.thesis-feature:hover {
  background-color: #B9B9B9;
  transition: background-color 250ms;
}

.thesis-feature img {
  display: inline-block;
  width: 35%;
  height: auto;
  margin: 1rem;
  float: left;
}

.thesis-text {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 100%;
  line-height: 1.5;
  margin: auto 0;
}

.thesis-feature p {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

/* Footer */
footer {
  border-top: 1px solid lightgray;
  padding: 1rem 1.5rem 2rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 0.75rem;
}

.footer .links a {
  padding: 0 0.5rem;
}
